.sub_name {
    width: 30%;
    padding-left: auto;
    padding-right: auto;
}

.content h1 {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    color: white;
}

.button {
    text-align: center;
    margin: 10px;
    padding: 20px 10px;
}
input[type="button"] {
    width: 79%;
    padding: 15px;
    margin: 8px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(18, 182, 39, 0.662);
    color: #fff;
    cursor: pointer;
}

.over {
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub_name {
    color: white;
    font-size: large;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}