.sub_name {
    width: 30%;
    padding-left: auto;
    padding-right: auto;
}

.content h1 {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    color: white;
}

.button {
    text-align: center;
}

button {
    width: 280px;
    padding: 15px 0;
    text-align: center;
    margin: 20xp 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
}

.sub_name {
    color: white;
    font-size: large;
}

a {
    text-decoration: none;
}