.chap_name {
    color: blue;
    font-size: x-large;
}

.paper {
    color: darkslategray;
    font-size: x-large;
}

body {
    background-image: url(../img/iinbgimg.jpg);
}

a {
    text-decoration: none;
}
.imp {
    color: black;
    font-size: x-large;
}
.video {
    color: black;
    font-size: x-large;
}
.bank {
    color: black;
    font-size: x-large;
}

a:hover {
    color: brown;
}